<div style="text-align: center">
  <img src="../assets/logo.jpg" alt="LCO LOGO" width="100" height="100" class="logo" />
  <h1 class="app-title">LCO TODO LIST</h1>
</div>
<div class="container">
  ADD A TODO..
  <br />
 <div class="wrapper">
  <input
  type="text"
  class="input-text"
  placeholder="type a todo"
  [(ngModel)]="todoValue"
  (keyup.enter)="addItem()"
/>
<button class="add-btn" (click)="addItem()">Add Todo</button>
 </div>
  <div class="list">
    <ul>
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        @for (movie of list; track movie) {
          <div class="example-box" cdkDrag>
            
            <li>
              <input type="checkbox" name="isDone" [(ngModel)]="movie.isDone" />
              {{ movie.value }}
              
              <button (click)="deleteItem(movie.id)">Delete</button>
            </li>
            <button class="add-btn" (click)="openDialog()">Show</button>
          </div>
        }
      </div>
      
    </ul>
  </div>
</div>

